/*
Color Scheme:
gunmetal #162521
snow #fffafb
teal #278180
pistachio #99d17b
orange peel #ff9f1c
*/

html {
    color: #162521;
    background-color: #fffafb;
}

img {
    border: 8px solid #278180;
}

header {
    background-color: #278180;
}

#page-title {
    text-align: center;
    font-size: 36px;
    color: #fffafb;
}