body {
  background-color: #3d7c40;
  font-family: sans-serif;
}

header {
  border: 8px solid black;
  background-color: white;
  margin-top: 16px;
}

h1#site-title {
  text-align: center;
  font-size: 300%;
  color: #3d7c40;
}

h1#article-title {
  color: white;
}

h2 {
  color: white;
  background-color: #e66031;
  border: 4px solid white;
  width: auto;
}

p {
  color: white;
}

figure {
  font-size: 20px;
  width: 20%;
  height: auto;
  background-color: white;
  border: 4px solid #e66031;
  padding: 4px;
}

figure img {
  width: 80%;
  height: auto;
}

figure.section-image {
  max-width: 50%;
  height: auto;
  border: 4px double black;
  float: right;
  margin: 8px 8px 20px 20px;
  font-size: 12px;
}

a {
  background-color: white;
  color: #3d7c40;
  text-decoration: none;
  margin: 8px;
  padding: 4px;
}

nav li {
  list-style: none;
  border: 1px solid black;
  margin: 2px 0;
  padding: 4px;
}

nav li:hover {
  background-color:#e66031;
  border: 1px solid #3d7c40;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
}

