body {
  background-color: #3d7c40;
  font-family: sans-serif;
}

header {
  border: 8px solid #e66031;
  background-color: white;
  margin-top: 16px;
}

h1#site-title {
  text-align: center;
  font-size: 300%;
  color: #3d7c40;
  text-transform: uppercase;
}

h1#article-title {
  color: white;
  background-color: #e66031;
  border: 4px solid white;
  padding: 4px;
  font-size: 250%;
  text-align: center;
}

h2 {
  color: white;
  background-color: #e66031;
  border: 4px solid white;
  width: 20%;
  padding: 4px;
  font-size: 20px;
}

p {
  color: white;
}

figure {
  font-size: 20px;
  width: 20%;
  height: auto;
  background-color: white;
  border: 4px solid #e66031;
  padding: 8px;
}

figure img {
  width: 80%;
  height: auto;
}

figure.section-image {
  width: 50%;
  height: auto;
  border: none;
  font-size: 12px;
}

.section-image figcaption {
  text-align: right;
}

a {
  color: white;
  text-decoration: none;
  margin: 8px;
  padding: 4px;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  flex: 1 1 auto;
}

nav a:hover {
  background-color:#e66031;
}

nav a {
  background-color: #3d7c40;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px;
}

@media screen and (max-width: 1000px) {
  
  nav ul {
    display: block;
  }

  nav a {
    background-color: red;

  }

  figure {
    width: 70%;
  }

  figure.section-image {
    width: 90%;
  }

  h2 {
    width: 50%;
  }
}